// Colors
$white: #fff;
$black: #333;
$cyan: #00adef;
$green: #76bc21;
$gray: #939598;
$light-gray: #f5f5f5;
$red: #c6462d;
$yellow: #efba00;

// Fonts
$sans: -apple-system, BlinkMacSystemFont, sans-serif;
$serif: Georgia, serif;

$body-font: 'Open Sans', $sans;
$header-font: 'Open Sans', $sans;

$page-content-max-width: 1000px;

// Media queries
$phablet:     "min-width: 544px";
$tablet:      "min-width: 768px";
$tablet-wide: "min-width: 992px";
$laptop:      "min-width: 1200px";
$desktop:     "min-width: 1600px";

$under-phablet:     "max-width: 543px";
$under-tablet:      "max-width: 767px";
$under-tablet-wide: "max-width: 991px";
$under-laptop:      "max-width: 1199px";
$under-desktop:     "max-width: 1599px";

$portrait:  "orientation: portrait";
$landscape: "orientation: landscape";
